.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #ffffff;
  padding: 0 5px;
  cursor: pointer;
  border-radius: 30px;
  min-height: 80px;
  max-height: 80px;
  min-width: 200px;
  max-width: 200px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
  transition: 0.15s ease-in-out;
}

.pokemon:hover {
  transform: scale(1.05);
  filter: brightness(0.5);
}

.pokemon__imagem {
  width: 25%;
  border-radius: 50%;
}

.pokemon__nome {
  text-transform: capitalize;
  padding-right: 10px;
}

.pokemon__numero {
  color: whitesmoke;
  font-size: 10px;
  margin-top: 10px;
  align-self: flex-start;
}

a {
  text-decoration: none;
}

.pokemon__tipo--grass {
  background-color: #7ac74c;
}

.pokemon__tipo--poison {
  background-color: #b97fc9;
}

.pokemon__tipo--fire {
  background-color: #ee8130;
}

.pokemon__tipo--flying {
  background: linear-gradient(180deg, #3dc7ef 20%, #bdb9b8 30%);
  background-color: #3dc7ef;
  color: #212121;
}

.pokemon__tipo--water {
  background-color: #4592c4;
}

.pokemon__tipo--bug {
  background-color: #729f3f;
}

.pokemon__tipo--normal {
  background-color: #a4acaf;
}

.pokemon__tipo--electric {
  background-color: #eed535;
}

.pokemon__tipo--ground {
  background: linear-gradient(180deg, #f7de3f 20%, #ab9842 50%);
}

.pokemon__tipo--fairy {
  background-color: #fdb9e9;
}

.pokemon__tipo--fighting {
  background-color: #d56723;
}

.pokemon__tipo--psychic {
  background-color: #f366b9;
}

.pokemon__tipo--rock {
  background-color: #a38c21;
}

.pokemon__tipo--steel {
  background-color: #9eb7b8;
}

.pokemon__tipo--ice {
  background-color: #51c4e7;
}

.pokemon__tipo--ghost {
  background-color: #7b62a3;
}

.pokemon__tipo--dragon {
  background: linear-gradient(180deg, #53a4cf 20%, #f16e57 50%);
}

.pokemon__tipo--dark {
  background-color: #707070;
}
